@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -webkit-user-select: none;
}

.scrollbar {
  scrollbar-width: 1pxs we;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.no-drag {
  -moz-window-dragging: none;
  -webkit-user-drag: none;
}

@layer components {
  .bg {
    @apply bg-neutral-100 dark:bg-neutral-900 text;
  }

  .text {
    @apply text-neutral-900 dark:text-neutral-100;
  }

  .invert-bg {
    @apply bg-neutral-900 dark:bg-neutral-100;
  }

  body {
    @apply bg;
  }

  .border-color {
    @apply border-neutral-500 dark:border-neutral-700;
  }

  .input-field {
    @apply text-sm font-medium invert-bg bg-opacity-10 dark:bg-opacity-10 outline-none placeholder:text-neutral-500 selection:bg-cyan-500 ring-2  ring-cyan-500 px-4 py-2 w-full ring-opacity-0 focus:ring-opacity-100 focus:bg-opacity-5 resize-none transition disabled:bg-opacity-5 dark:disabled:bg-opacity-5;
  }

  .button {
    @apply bg-cyan-500 text-white dark:bg-cyan-600 py-2 rounded-lg active:bg-opacity-80 disabled:bg-neutral-300 disabled:text-neutral-500 disabled:dark:disabled:bg-neutral-800 disabled:cursor-not-allowed font-semibold capitalize transition;
  }

  .text-button {
    @apply bg click cursor-pointer py-2;
  }

  .click {
    @apply invert-bg click-opacity cursor-pointer;
  }

  .click-opacity {
    @apply bg-opacity-0 dark:bg-opacity-0 active:bg-opacity-10 dark:active:bg-opacity-10 disabled:active:bg-opacity-0 hover:bg-opacity-0 sm:hover:bg-opacity-20 sm:active:bg-opacity-10 transition;
  }

  .card {
    @apply bg-white dark:bg-neutral-800  shadow-md;
  }

  .round {
    @apply sm:rounded-lg;
  }

  .skeleton {
    @apply bg-white dark:bg-neutral-700 animate-pulse;
  }

  .both-space {
    @apply top-space bottom-space;
  }

  .active-navitem {
    @apply bg-cyan-500 dark:bg-cyan-600;
  }

  .tab-navitem {
    @apply w-fit h-full py-2 flex flex-col gap-y-2 rounded-md no-select;
  }
  .desktop-navitem {
    @apply w-full py-2 flex items-center gap-x-4 px-4 rounded-md no-select;
  }

  .mobile-navitem {
    @apply;
  }
}
